doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
form(method='POST' action='/register')
  label Surname
  input(type='text' name='Surname')
  label Age
  input(type='text' name='Age')
  label Email
  input(type='enail' name='Email')
  button(type='submit') Submit